<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="shortcut icon" href="https://library.kissclipart.com/20180830/ccq/kissclipart-books-icon-png-clipart-computer-icons-book-fa5d85a91f8ea2cc.png">

    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <h1>Best Books!</h1>
        <div class="rightdiv" style="width: 100%; ">
        <div class="topnav" id="myTopnav"  >
            <a href="#news" style="display: none;"></a>
            <a href="/" class="margintop20">Home</a>
            <a href="#">Search The Google Books API</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

          
    
    </header>

    <div class="underheader">
        <h1>Search by Title or Author</h1>
    </div>
<!-- <div class="container2">
    <div class="child2"> -->

        <div class="formhandler">

        <form action="/searches/show" method="POST">
            <div>
            <input type="text" name="searchBox" placeholder="Enter a title or author" required>
        </div>
            <div class="check1">
                <label for='title'>Title</label>
                <input type="checkbox" name="titleAuthor" id="title" value="title">
            </div>
            <div class="check1">
                <label for="author">Author</label>
                <input type="checkbox" name="titleAuthor" id='author' value="author">
            </div>
            <div class="buttonForm">
            <input type="submit" value="Search The Google Books API">
        </div>
        </form>
    </div>
    <!-- </div>
</div> -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="../app.js"></script>
</body>

</html>